<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectkp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:grantUriPermissions="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/SecondTheme">
        <activity android:name=".CS.DetailSC"></activity>
        <activity android:name=".CS.TrackOrderCS" />
        <activity android:name=".Sales.TrackOrderSales" />
        <activity android:name=".Sales.InputMyir" />
        <activity android:name=".CS.MyirCS" />
        <activity android:name=".Sales.MyirSales" />
        <activity android:name=".Sales.EditProfileSales" />
        <activity android:name=".CS.EditProfileCS" />
        <activity android:name=".Sales.ProductSales" />
        <activity android:name=".Sales.UserDetailSales" />
        <activity android:name=".Sales.DashboardSales" />
        <activity android:name=".CS.ProductCS" />
        <activity android:name=".CS.UserDetailCS" />
        <activity android:name=".CS.DashboardCS" />
        <activity android:name=".verification.EmailVerify2Activity" />
        <activity android:name=".verification.EmailVerifyActivity" />
        <activity android:name=".forgetpassword.Forget2Activity" />
        <activity android:name=".forgetpassword.ForgetActivity" />
        <activity android:name=".loginregister.RegisterActivity" />
        <activity android:name=".loginregister.LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>