<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectkp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:grantUriPermissions="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/SecondTheme">
        <activity
            android:name=".Sales.Product.Bonus.InternetPhoneTV" />
        <activity
            android:name=".Sales.Product.Bonus.InternetTV" />
        <activity
            android:name=".Sales.Product.Bonus.InternetPhone" />
        <activity
            android:name=".Sales.Product.Item.Orbit"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.Item.MiniPack"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.Item.InternetTV"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.Item.InternetPhone"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.Item.InternetPhoneTV"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.ProductListSales"
            android:parentActivityName=".Sales.DashboardSales" />
        <activity android:name=".Sales.DashboardSales" />
        <activity
            android:name=".Sales.User.EditProfileSales"
            android:parentActivityName=".Sales.User.UserDetailSales" />
        <activity
            android:name=".Sales.User.UserDetailSales"
            android:parentActivityName=".Sales.DashboardSales" />
        <activity
            android:name=".Sales.TrackOrder.TrackOrderSales"
            android:parentActivityName=".Sales.DashboardSales" />
        <activity
            android:name=".Sales.MYIR.InputMyir"
            android:parentActivityName=".Sales.MYIR.MyirSales" />
        <activity
            android:name=".Sales.MYIR.MyirSales"
            android:parentActivityName=".Sales.DashboardSales" />
        <activity android:name=".CS.Product.Edit.AddItem" />
        <activity android:name=".CS.Product.Edit.EditItem" />
        <activity
            android:name=".CS.Product.Item.Orbit"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.Item.MiniPack"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.Item.InternetTV"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.Item.InternetPhone"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.Item.InternetPhoneTV"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.ProductListCS"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.DashboardCS" />
        <activity android:name=".CS.DashboardCS" />
        <activity
            android:name=".CS.MyirCS"
            android:parentActivityName=".CS.DashboardCS" />
        <activity
            android:name=".CS.TrackOrderCS"
            android:parentActivityName=".CS.DashboardCS" />
        <activity
            android:name=".CS.User.EditProfileCS"
            android:parentActivityName=".CS.User.UserDetailCS" />
        <activity
            android:name=".CS.User.UserDetailCS"
            android:parentActivityName=".CS.DashboardCS" />
        <activity
            android:name=".verification.EmailVerify2Activity"
            android:parentActivityName=".verification.EmailVerifyActivity" />
        <activity
            android:name=".verification.EmailVerifyActivity"
            android:parentActivityName=".loginregister.RegisterActivity" />
        <activity android:name=".forgetpassword.Forget2Activity" />
        <activity
            android:name=".forgetpassword.ForgetActivity"
            android:parentActivityName=".loginregister.LoginActivity" />
        <activity
            android:name=".loginregister.RegisterActivity"
            android:parentActivityName=".loginregister.LoginActivity" />
        <activity android:name=".loginregister.LoginActivity" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>