<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectkp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:grantUriPermissions="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/SecondTheme">

        <activity
            android:name=".Sales.Product.Orbit"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.MiniPack"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.InternetTV"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.InternetPhone"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.InternetPhoneTV"
            android:launchMode="singleTop"
            android:parentActivityName=".Sales.Product.ProductListSales" />
        <activity
            android:name=".Sales.Product.ProductListSales"
            android:parentActivityName=".Sales.DashboardSales" />

        <activity
            android:name=".Sales.DashboardSales"
            android:launchMode="singleTop" />

        <activity
            android:name=".Sales.EditProfileSales"
            android:parentActivityName=".Sales.UserDetailSales" />
        <activity
            android:name=".Sales.UserDetailSales"
            android:parentActivityName=".Sales.DashboardSales" />

        <activity
            android:name=".Sales.TrackOrder.TrackOrderSales"
            android:parentActivityName=".Sales.DashboardSales" />
        <activity
            android:name=".Sales.MYIR.InputMyir"
            android:parentActivityName=".Sales.MYIR.MyirSales" />
        <activity
            android:name=".Sales.MYIR.MyirSales"
            android:parentActivityName=".Sales.DashboardSales" />

        <activity
            android:name=".CS.Product.Orbit"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.MiniPack"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.InternetTV"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.InternetPhone"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.InternetPhoneTV"
            android:launchMode="singleTop"
            android:parentActivityName=".CS.Product.ProductListCS" />
        <activity
            android:name=".CS.Product.ProductListCS"
            android:parentActivityName=".CS.DashboardCS" />

        <activity
            android:name=".CS.DashboardCS"
            android:launchMode="singleTop" />

        <activity android:name=".CS.MyirCS" />
        <activity android:name=".CS.TrackOrderCS" />
        <activity android:name=".CS.EditProfileCS" />
        <activity android:name=".CS.UserDetailCS" />
        <activity
            android:name=".verification.EmailVerify2Activity"
            android:parentActivityName=".verification.EmailVerifyActivity" />
        <activity
            android:name=".verification.EmailVerifyActivity"
            android:parentActivityName=".loginregister.RegisterActivity" />
        <activity android:name=".forgetpassword.Forget2Activity" />
        <activity
            android:name=".forgetpassword.ForgetActivity"
            android:parentActivityName=".loginregister.LoginActivity" />
        <activity
            android:name=".loginregister.RegisterActivity"
            android:parentActivityName=".loginregister.LoginActivity" />
        <activity android:name=".loginregister.LoginActivity" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>